<footer class="mt-auto">

  <div class="row align-items-center justify-content-center mt-2">
    <h2>Contributers:</h2>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-sm">
        <h3>Bradley Dufour</h3>
        <h5>Role: Back-End Data Mining</h5>
        <h5><a href="https://github.com/lordmilton">Portfolio Here</a></h5>
      </div>

      <div class="col-sm">
        <h3>Kevin Huynh</h3>
        <h5>Role: Back-End CoverLetter Generator</h5>
        <h5><a href="https://github.com/khuynh1123">Portfolio Here</a></h5>
      </div>

      <div class="col-sm">
        <h3>Edwin O'Meara</h3>
        <h5>Role: Front End Developer</h5>
        <h5><a href="https://github.com/edwinomeara">Portfolio Here</a> </h5>
      </div>

      <div class="col-sm">
        <h3>Joseph Tan</h3>
        <h5>Role: Team lead</h5>
        <h5><a href="https://github.com/joetannn">Portfolio Here</a></h5>
      </div>
    </div>
  </div>
</footer>
